[submodule "uhttpsharp"]
  path = Vendor/uHttpSharp
  url = http://tohjo.ez.lv/citidev/uhttpsharp.git


[submodule "Vendor/npsharp"]
	path = Vendor/npsharp
	url = http://tohjo.ez.lv/ntauthority/npsharp.git
